algs4/Baseball Elimination/teams1.txt
algs4/Baseball Elimination/teams4.txt
algs4/Baseball Elimination/teams4a.txt
algs4/Baseball Elimination/teams4b.txt
algs4/Baseball Elimination/teams5.txt
algs4/Baseball Elimination/teams5a.txt
algs4/Baseball Elimination/teams5b.txt
algs4/Baseball Elimination/teams5c.txt
algs4/Baseball Elimination/teams7.txt
algs4/Baseball Elimination/teams8.txt
algs4/Baseball Elimination/teams10.txt
algs4/Baseball Elimination/teams12-allgames.txt
algs4/Baseball Elimination/teams12.txt
algs4/Baseball Elimination/teams24.txt
algs4/Baseball Elimination/teams29.txt
algs4/Baseball Elimination/teams30.txt
algs4/Baseball Elimination/teams32.txt
algs4/Baseball Elimination/teams36.txt
algs4/Baseball Elimination/teams42.txt
algs4/Baseball Elimination/teams48.txt
algs4/Baseball Elimination/teams50.txt
algs4/Baseball Elimination/teams54.txt
algs4/Baseball Elimination/teams60.txt
algs4/Seam Carving/1x1.png
algs4/Seam Carving/1x8.png
algs4/Seam Carving/3x4.png
algs4/Seam Carving/3x4.printseams.txt
algs4/Seam Carving/3x7.png
algs4/Seam Carving/3x7.printseams.txt
algs4/Seam Carving/4x6.png
algs4/Seam Carving/4x6.printseams.txt
algs4/Seam Carving/5x6.png
algs4/Seam Carving/5x6.printseams.txt
algs4/Seam Carving/6x5.png
algs4/Seam Carving/6x5.printseams.txt
algs4/Seam Carving/7x3.png
algs4/Seam Carving/7x3.printseams.txt
algs4/Seam Carving/7x10.png
algs4/Seam Carving/7x10.printseams.txt
algs4/Seam Carving/8x1.png
algs4/Seam Carving/10x10.png
algs4/Seam Carving/10x10.printseams.txt
algs4/Seam Carving/10x12.png
algs4/Seam Carving/10x12.printseams.txt
algs4/Seam Carving/12x10.png
algs4/Seam Carving/12x10.printseams.txt
algs4/Seam Carving/chameleon.png
algs4/Seam Carving/diagonals.png
algs4/Seam Carving/diagonals.printseams.txt
algs4/Seam Carving/HJocean.png
algs4/Seam Carving/HJoceanTransposed.png
*.class
*.zip
algs4/Wordnet/digraph1.txt
algs4/Wordnet/hypernyms.txt
algs4/Wordnet/outcast.txt
algs4/Wordnet/synsets.txt
*c_cpp_properties.json
*.jar
*settings.json
*launch.json
*tasks.json
algs4/Seam Carving/stripes.png
algs4/Seam Carving/stripes.printseams.txt
CSES/.vscode/settings.json
CodeForces/.vscode/launch.json
algs4/Boggle/board-9q.txt
algs4/Boggle/board-16q.txt
algs4/Boggle/board-antidisestablishmentarianisms.txt
algs4/Boggle/board-aqua.txt
algs4/Boggle/board-couscous.txt
algs4/Boggle/board-diagonal.txt
algs4/Boggle/board-dichlorodiphenyltrichloroethanes.txt
algs4/Boggle/board-dodo.txt
algs4/Boggle/board-estrangers.txt
algs4/Boggle/board-horizontal.txt
algs4/Boggle/board-inconsequentially.txt
algs4/Boggle/board-noon.txt
algs4/Boggle/board-pneumonoultramicroscopicsilicovolcanoconiosis.txt
algs4/Boggle/board-points0.txt
algs4/Boggle/board-points1.txt
algs4/Boggle/board-points2.txt
algs4/Boggle/board-points3.txt
algs4/Boggle/board-points4.txt
algs4/Boggle/board-points5.txt
algs4/Boggle/board-points100.txt
algs4/Boggle/board-points200.txt
algs4/Boggle/board-points300.txt
algs4/Boggle/board-points400.txt
algs4/Boggle/board-points500.txt
algs4/Boggle/board-points750.txt
algs4/Boggle/board-points777.txt
algs4/Boggle/board-points1000.txt
algs4/Boggle/board-points1111.txt
algs4/Boggle/board-points1250.txt
algs4/Boggle/board-points1500.txt
algs4/Boggle/board-points2000.txt
algs4/Boggle/board-points4410.txt
algs4/Boggle/board-points4527.txt
algs4/Boggle/board-points4540.txt
algs4/Boggle/board-points13464.txt
algs4/Boggle/board-points26539.txt
algs4/Boggle/board-q.txt
algs4/Boggle/board-quinquevalencies.txt
algs4/Boggle/board-qwerty.txt
algs4/Boggle/board-rotavator.txt
algs4/Boggle/board-vertical.txt
algs4/Boggle/board4x4.txt
algs4/Boggle/dictionary-2letters.txt
algs4/Boggle/dictionary-16q.txt
algs4/Boggle/dictionary-algs4.txt
algs4/Boggle/dictionary-common.txt
algs4/Boggle/dictionary-enable2k.txt
algs4/Boggle/dictionary-nursery.txt
algs4/Boggle/dictionary-shakespeare.txt
algs4/Boggle/dictionary-sowpods.txt
algs4/Boggle/dictionary-twl06.txt
algs4/Boggle/dictionary-yawl.txt
algs4/Boggle/dictionary-zingarelli2005.txt
